<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css"/>
    <title>Document</title>
    <style>
        .new{
            justify-content: center;
            display: flex;

        }
        h1{
            justify-content: center;
            display: flex;
            align-items: center;
            background-color: rgb(233, 233, 137);
            color: lightpink;
        }
    </style>
</head>
<body>
    <h1>☆New Coffee Request☆</h1>
    <div class="new">
    <form action="/ryancf" method="POST">
        Name: <input type="text" name="name"/><br />
        Image: <input type="text" name="img"/><br />
        Price: <input type="text" name="price"/><br />
        Description: <input type="text" name="description"/><br />
        Quantity: <input type="text" name="qty"/><br />
       <input type="submit" name="" value="Add Coffee"/>
    </form>
    </div>
</body>
</html>