<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            justify-content: center;
            display: flex;
            color: red;
            font-size: 80px;
        }
        h2{
            justify-content: center;
            display: flex;
            color: red;
            font-size:  50px;
        }
        a{
            justify-content: center;
            display: flex;
            color: green;
            font-size: 100px;
        }
    </style>
</head>
<body>
    <h1>Hey you! yeah you!</h1>
    <h1>Do you like coffee?</h1>
   
    <h2>Then Click! ↓</h2>
    <a href="/ryancf">Ryanbucks!</a>

  
</body>
</html>