<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoffeeBlog</title>
    <style>

        .cover {
            background: rgb(234, 192, 199);
            padding: 230px 0;
        }

        h1 {
            justify-content: center;
            display: flex;
            color: black;
            font-size: 80px;
        }

        h2 {
            justify-content: center;
            display: flex;
            color: black;
            font-size: 50px;
        }

        a {
            justify-content: center;
            display: flex;
            color: green;
            font-size: 100px;
        }
    </style>
</head>
<div class="cover">
        <body>
    <h1>For those of you who truly love coffee,</h1>


            <a href="/ryancf">Ryanbucks!</a>
           
        </body>
</div>

</html>